<% @assignments.each do |assignment| %>
    <div>
        <h2><%= link_to assignment.name, assignment_path(assignment) %></h2>
        <p><%= assignment.description %></p>
        <hr>
    </div>
<% end %>