<article class="instructor-homepage">
  <div class='card-tier'>
    <%= render "courses" %>
    <%= render "assignments" %>
  </div>
    <%#=render "calendar" %>
    <%= link_to 'Create New Assignment', new_assignment_path, class:"ui pink basic button"%>
    <%= link_to 'Click to View All Assignments!', assignments_path, class:"ui purple basic button" %>
</article>