<%# This is for testing, do not deploy this %>

<div class='card'>
  <div class='card-header'>
    <h2>Courses</h2>
  </div>
  <div class='card-content-container'>
    <div class='card-content'>
      <p>$course-name</p>
      <small>$instructor-name</small>
    </div>
    <div class='card-content'>
      <p>$course-name</p>
      <small>$instructor-name</small>
    </div>
    <%#= @courses = @current_user.course_roles(&:courses).flatten %>
  </div>
</div>